%h1{style:"text-align:center"} Search Results
= form_tag(search_index_path, method:"post", class:"navbar-form") do |f|
  .row{style:"text-align:center"}
    .col-md-3
      = text_field_tag :query, @searchquery, placeholder: "Search", class:"form-control", style:"width:100%", required:true
    .col-md-2
      = select_tag :type, options_from_collection_for_select(Type.all,'name','name',params[:course]), prompt:"Type", class:"selectpicker form-control"
    .col-md-2
      = select_tag :course, options_from_collection_for_select(Course.all,'name','name',params[:course]), prompt:"Course", class:"selectpicker form-control"
    .col-md-2
      = select_tag :department, options_from_collection_for_select(Department.all,'name','name',params[:department]), prompt:"Department", class:"selectpicker form-control"
    .col-md-2
      = select_tag :semester, options_from_collection_for_select(Semester.all,'name','name',params[:semester]), prompt:"Semester", class:"selectpicker form-control"
    .col-md-1
      = button_tag "Go", class:"btn btn-primary", style:"width:100%"
      = hidden_field_tag :type, @type

%table.table.table-bordered{style:"text-align:center"}
  %tr
  - @cnt = 0
  - @items.each do |item|
    - if @cnt%3==0 then
      %tr
    %td
      %a.image{href:item_path(item)}
        - if item.type
          - @location = item.type.image.url
        - else
          - @location = "subjectnote.png"
        = image_tag @location, width:"20%"
      %br
      = link_to item.title,item
      %br
      = item.course.name if item.course
      = item.department.name if item.department
      = " - Semester " + item.semester.name if item.semester
      - @cnt += 1
