%h1{style:"text-align:center"} Resource Types

%table.table.table-bordered{style:"text-align:center"}
  - cnt = 0
  - @types.each do |type|
    %td
      %a{href:type_path(type)}
        = image_tag type.image.url, width:"100px" if type.image_file_name
        %br
        = type.name
        - cnt += 1
    - if cnt%3 == 0
      %tr
  - if isadmin
    %td
      %a{href:new_type_path}
        = image_tag "add.png", width:"100px"
        %br
        Add New Type
