%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3 Type Details
  .jumbotron
    .row
      .col-md-8
        .h1{style:"margin-top:0;padding-top:0"}
          = @type.name
        - if isadmin
          = link_to "Edit Type", edit_type_path(@type), class:"btn btn-success"
          = link_to "Delete Type", @type, method: :delete, data: {confirm: "Are you sure? All items of this type will also be deleted."}, class:"btn btn-danger"
      .col-md-4{style:'text-align:center'}
        = image_tag @type.image.url, width:"50%" if @type.image_file_name
= form_tag(type_path(@type), method:"post", class:"navbar-form") do |f|
  .row{style:"text-align:center"}
    .col-md-3
      = select_tag :course, options_from_collection_for_select(Course.all,'name','name',params[:course]), prompt:"Course", class:"selectpicker form-control"
    .col-md-3
      = select_tag :department, options_from_collection_for_select(Department.all,'name','name',params[:department]), prompt:"Department", class:"selectpicker form-control"
    .col-md-3
      = select_tag :semester, options_from_collection_for_select(Semester.all,'name','name',params[:semester]), prompt:"Semester", class:"selectpicker form-control"
    .col-md-3
      = button_tag "Go", class:"btn btn-primary", style:"width:100%"
%br
%table.table.table-bordered{style:"text-align:center"}
  %tr
  - @cnt = 0
  - @items.each do |item|
    - if @cnt%3==0 then
      %tr
    %td
      %a.image{href:item_path(item)}
        = image_tag item.type.image.url, width:"20%" if item.type
      %br
      = link_to item.title,item
      %br
      = item.course.name if item.course
      = item.department.name if item.department
      = " - Semester " + item.semester.name if item.semester
      - @cnt += 1
