%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3 Author Details
  .jumbotron
    .h1{style:"margin-top:0;padding-top:0"}
      = @author.name
  %table.table.table-bordered
    %tr
      %th Title
      %th Course
      %th Department
    - @author.items.each do |item|
      %tr
        %td 
          = link_to item.title,item
        %td
          - if item.course
            = link_to item.course.name,item.course
        %td
          - if item.department
            = link_to item.department.name,item.department
