= form_for @user,:html=>{class:"form-signin"} do |f|
  - if @user.errors.any?
    .alert.alert-danger{role:"alert"}
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :username, placeholder:"User name", class:"form-control", required:"true"
  .field
    = f.password_field :password, placeholder: "Password", class:"form-control", required:"true"
  .field
    = f.password_field :password_confirmation, placeholder: "Confirm Password", class:"form-control", required:"true"
  .field
    = f.text_field :name, placeholder:"Name", class:"form-control", required:"true"
  .field
    - if params[:designation]
      - @des = params[:designation]
    - elsif @user.designation
      - @des = @user.designation
    - else
      - @des = ""
    - puts "Designation is : " + @des
    = f.select :designation, options_for_select({"Admin"=>"admin", "HOD"=>"hod", "Faculty"=>"faculty","Student"=>"student"},@des), {include_blank:"Account Type"}, {class:"selectpicker"}
  .field
    = f.fields_for :department do |department_form|
      = department_form.select :name, options_from_collection_for_select(Department.all,'name','name'), {include_blank:"Department"}, {class:"selectpicker"}
  .field
    .input-group
      %span.input-group-btn
        %span.btn.btn-success.btn-file
          = f.file_field :image
          Browse Profile Picture
      %input.form-control#filetext{type:"text"}
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"
:javascript
    $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
    console.log(numFiles);
    console.log(label);
    document.getElementById('filetext').value = label;
    reader.readAsDataURL(file);
    });
    });
