%h1{style:"text-align:center"} Sign In
= form_for(@user=User.new, :url=>sign_in_path) do |f|
  = f.text_field :username,class:"form-control",placeholder:"Username"
  %br
  = f.text_field :password,type:"password",class:"form-control",placeholder:"Password"
  %br
  = button_tag "Sign In", class:"btn", style:"width:100%"
