= form_for @user,:html=>{class:"form-signin"} do |f|
  - if @user.errors.any?
    .alert.alert-danger{role:"alert"}
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, placeholder:"Name", class:"form-control", required:"true"
  - if isadmin
    .field
      - if @user.designation
        - @des = @user.designation
      - elsif params[:designation]
        - @des = params[:designation]
      - else
        - @des = ""
      = f.select :designation, options_for_select({"Admin"=>"admin","HOD"=>"hod","Faculty"=>"faculty","Student"=>"student"},@des), {include_blank:"Account Type"}, {class:"selectpicker"}
    .field
      - if @user.batchbegin
        - @bbegin = @user.batchbegin.year.to_s
        - puts "Batch Begin" + @bbegin
      - else
        - @bbegin = ""
      = f.select :batchbegin, options_for_select(2000..Time.now.year+6,@bbegin), {include_blank: "Batch Begin Year"}, {class:"selectpicker"}
    .field
      - if @user.batchend
        - @bend = @user.batchend.year.to_s
        - puts "Batch End : " + @bend
      - else
        - @bend = ""
      = f.select :batchend, options_for_select(Time.now.year-5..Time.now.year+6,@bend), {include_blank: "Batch End Year"}, {class:"selectpicker"}
  .field
    - if @user.course
      - @cou = @user.course.name
    - elsif params[:course]
      - @cou = params[:course]
    - else
      - @cou = ""
    = f.fields_for :course do |course_form|
      = course_form.select :name, options_from_collection_for_select(Course.all,'name','name',@cou), {include_blank:"Course"}, {class:"selectpicker"}
  .field
    - if @user.department
      - @dep = @user.department.name
    - elsif params[:department]
      - @dep = params[:department]
    - else
      - @dep = ""
    = f.fields_for :department do |department_form|
      = department_form.select :name, options_from_collection_for_select(Department.all,'name','name',@dep), {include_blank:"Department"}, {class:"selectpicker"}
  .field
    = f.text_field :admissionnumber, class:"form-control", placeholder:"Admission Number"
  .field
    = f.text_field :dob, class:"form-control datepicker", placeholder:"Date of Birth (dd-mm-yyyy)"
  .field
    = f.text_area :address, class:"form-control", placeholder:"Address"
  .field
    = f.text_field :bloodgroup, class:"form-control", placeholder:"Blood Group"
  .field
    = f.text_field :email, class:"form-control", placeholder:"Email ID"
  .field
    = f.text_field :phone, class:"form-control", placeholder:"Phone Number"
  .field
    .input-group
      %span.input-group-addon
        +91
      = f.text_field :mobile, class:"form-control", placeholder:"Mobile Number"
  .field
    %label.checkbox.inline
      Keep my profile hidden from other users
      = f.check_box :privateprofile, class:"checkbox inline"
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"

