.panel.panel-default
  .panel-heading
    %h3 Admin Panel
  %table.table.table-bordered{style:"text-align:center"}
    %tr
      %td
        %a{href:users_path}
          = image_tag 'usericon.png', width:"20%"
          %br
          Edit Users
      %td
        %a{href:departments_path}
          = image_tag 'departments.png', width:"20%"
          %br
          Edit Departments
      /        
        %td
          %a{href:courses_path}
            = image_tag 'courses.png', width:"46%"
            %br
            Edit Courses
      %td
        %a{href:types_path}
          = image_tag 'types.png', width:"20%"
          %br
          Edit Resource Types
      %td
        %a{href:statistics_path}
          = image_tag 'statistics.png', width:"60%"
          %br
          View Statistics
 
