.alert.alert-danger{role:"alert"}
  =notice
= form_for @user,:url=>changepassword_path,:html=>{class:"form-signin"} do |f|
  - if @user.errors.any?
    .alert.alert-danger{role:"alert"}
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.password_field :password, placeholder: "Password", class:"form-control", required:"true"
  .field
    = f.password_field :newpassword, placeholder: "New Password", class:"form-control", required:"true"
  .field
    = f.password_field :newpassword_confirmation, placeholder: "Confirm New Password", class:"form-control", required:"true"
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"


