%h1{style:"text-align:center"} 
  Editing 
  = @user.username
- if isadmin or session[:user] == @user.username
  #editform{style:"width:50%;text-align:center;margin:0 auto"}
    = render 'useredit'
- else
  .alert.alert-danger{role:"alert"}
    You are not permitted to access this page
