%ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
  %li.active
    %a{href:"#student", "data-toggle" => "tab"}
      Student
  %li
    %a{href:"#faculty", "data-toggle" => "tab"}
      Faculties
  %li
    %a{href:"#admin", "data-toggle" => "tab"}
      Administrators
#my-tab-content.tab-content
  .tab-pane.active#student
    %table.table.table-bordered{style:"text-align:center"}
      - @cnt = 0
      - User.where("designation = 'student'").each do |student|
        %td
          %a{href:user_path(student)}  
            - if student.image_file_name
              = image_tag student.image.url, width:"100px" 
            - else
              = image_tag 'student.png', width:"100px"
            %br
            = student.name
            - @cnt += 1
        - if @cnt%3 == 0
          %tr
      - if isadmin
        %td
          %a{href:new_user_path}
            = image_tag "add.png", width:"100px"
            %br
            Add New Student
  .tab-pane#faculty
    %table.table.table-bordered{style:"text-align:center"}
      %tr
      - @cnt = 1
      - User.where("designation = 'faculty'").each do |faculty|
        %td
          %a{href:user_path(faculty)}  
            - if faculty.image_file_name
              = image_tag faculty.image.url, width:"100px" 
            - else
              = image_tag 'faculty.png', width:"100px"
            %br
            = faculty.name
            - @cnt += 1
        - if @cnt%3 == 0
          %tr
      - if isadmin
        %td
          %a{href:new_user_path}
            = image_tag "add.png", width:"100px"
            %br
            Add New Faculty
  .tab-pane#admin
    %table.table.table-bordered{style:"text-align:center"}
      - @cnt = 0
      - User.where("designation = 'admin'").each do |admin|
        %td
          %a{href:user_path(admin)}  
            - if admin.image_file_name
              = image_tag admin.image.url, width:"100px" 
            - else
              = image_tag 'admin.png', width:"100px"
            %br
            = admin.name
            - @cnt += 1
        - if @cnt%3 == 0
          %tr
      - if isadmin
        %td
          %a{href:new_user_path}
            = image_tag "add.png", width:"100px"
            %br
            Add New Administrator
