- if notice and notice!=""
  .alert.alert-danger
    = notice
- if session[:user]
  .alert.alert-success
    You are already logged in
- else
  #signinform{style:"margin:0 auto;width:50%"}
    = render 'login'
