%h1{style:"text-align:center"} My Subjects
%table.table.table-bordered
  - @subjects = @user.subjects.sort_by &:code
  - puts @subjects

  - @subjects.each do |subject|
    %tr
      %td{style:"width:30%"}
        = subject.code
        %h4{style:"margin:0;"}
          = link_to subject.name,subject,{style:"color:blue"}
        %h5
          = link_to User.find(subject.faculty_id).name,User.find(subject.faculty_id) if subject.faculty_id and subject.faculty_id > 0
      %td
        = subject.description.html_safe if subject.description
