%p#notice= notice
/%select#thisisaselect
.panel.panel-default
  .panel-heading
    %h3 User Details
  .jumbotron
    .row
      .col-md-6
        .h2{style:"margin-top:0;padding-top:0"}
          = @user.name
      .col-md-6{style:"text-align:center"}
        = image_tag @user.image.url(:small) if @user.image_file_name
        %br
        %br
        - if isadmin or session[:user] == @user.username
          .btn-group
            %button.btn.btn-primary.dropdown-toggle{"data-toggle"=>"dropdown","aria-expanded"=>"false"} 
              Profile Actions
              %span.caret
            %ul.dropdown-menu{role:"menu"}
              %li
                = link_to "Edit Profile",edit_user_path(@user), method: :get
              %li
                = link_to "Change Password", changepassword_path(@user), method: :get
              %li
                - if @user.image_file_name
                  - @txt = "Change Image"
                - else
                  - @txt = "Upload Image"
                = link_to @txt, changeimage_path(@user), method: :get
          = link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure? All your uploads will also be deleted."}, class:"btn btn-danger"
    .row
      %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
        %li.active
          %a{href:"#academic", "data-toggle" => "tab"}
            Academic Details
        - if @user.privateprofile != true or isadmin or @user.username == session[:user]
          %li
            %a{href:"#personal", "data-toggle" => "tab"}
              Personal Details
      #my-tab-content.tab-content
        .tab-pane.active{:id => "academic"}
          %table.table
            %tr
              %td{width:"20%"} Designation
              %td
                = @user.designation if @user.designation
            %tr
              - if @user.designation == 'student'
                %td{width:"10%"} Course
                %td
                  = @user.course.name if @user.course
                %tr
                  %td{width:"10%"} Batch
                  %td
                    = @user.batchbegin.year.to_s + " - " + @user.batchend.year.to_s if @user.batchbegin and @user.batchend
                %tr
                  %td{width:"10%"} Admission Number
                  %td
                    = @user.admissionnumber if @user.admissionnumber
            %tr
              %td{width:"10%"} Department
              %td
                = @user.department.name if @user.department

        - if @user.privateprofile != true or isadmin or @user.username == session[:user]
          .tab-pane{:id => "personal"}
            %table.table
              %tr
                %td{width:"20%"} Address
                %td
                  = @user.address.gsub("\n","<br />").html_safe if @user.address
              %tr
                %td{width:"10%"} 
                  Date of Birth
                %td
                  = @user.dob if @user.dob
              %tr
                %td{width:"10%"} Blood Group
                %td
                  = @user.bloodgroup if @user.bloodgroup
              %tr
                %td{width:"10%"} Email Id
                %td
                  = mail_to @user.email if @user.email
              %tr
                %td{width:"10%"} Phone
                %td
                  = @user.phone if @user.phone
              %tr
                %td{width:"10%"} Mobile
                %td
                  = @user.mobile if @user.mobile

- if isuseruploader(@user) and @user.items.count > 0
  .panel.panel-default
    .panel-heading
      %h3 Uploads by user
    %table.table.table-bordered{style:"text-align:center"}
      %tr
      - @cnt = 0
      - @user.items.each do |item|
        - if @cnt%3==0 then
          %tr
        %td
          %a.image{href:item_path(item)}
            - if item.type
              - @location = item.type.image.url
            - else
              - @location = "subjectnote.png"
            = image_tag @location, width:"20%"
          %br
          = link_to item.title,item
          %br
          = item.course.name if item.course
          = item.department.name if item.department
          = " - Semester " + item.semester.name if item.semester
          - @cnt += 1
/
  %script
    $(document).ready(function(){
    var a = ""
    - cnt = 0;
    - User.all.each do |user|
      var opt#{cnt} = document.createElement("option")
      opt#{cnt}.value = '#{user.username}'
      opt#{cnt}.innerHTML = '#{user.username}'
      document.getElementById('thisisaselect').appendChild(opt#{cnt});
      - cnt += 1
    });
