= form_for @department do |f|
  - if @department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
      %ul
        - @department.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, placeholder:"Name", class: "form-control", required:true
  .field
    - if @department.hod_id
      - @hod = User.find(@department.hod_id).id
    - else
      - @hod = ""
    = f.select :hod_id, options_from_collection_for_select(User.where("designation = 'hod'").all,'id','name',@hod), {include_blank:"HOD"}, {class:"selectpicker",style:"width:50%"}
  .actions
    = f.submit 'Save', class:"btn btn-success"
