- if isadmin or @department.hod_id == User.where("username = ?",session[:user]).first.id
  .row
    .col-md-6
      - if @department.image_file_name
        - @loc = @department.image.url
      - else
        - @loc = "usericon.png"
      = image_tag @loc, width:"50%", id:"previewimage"
      %br
      %br
    .col-md-6
      = button_to "Remove Picture", removeprofilepic_path, method:"post", data: {confirm: "Are you sure? You can choose your new profile picture at end of this page instead of deleting."}, class:"btn btn-danger" if @department.image_file_name
      = form_for @department,:html=>{class:"form-signin"} do |f|
        %br
        %br
        .field
          .input-group
            %span.input-group-btn
              %span.btn.btn-success.btn-file
                = f.file_field :image
                Browse Picture
            %input.form-control#filetext{type:"text"}
        .actions
          = f.submit 'Save', class:"btn btn-primary", style:"width:50%"
- else
  .alert.alert-danger
    You are not permitted to access this image
:javascript
    $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });
  $(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
    console.log(numFiles);
    console.log(label);
    document.getElementById('filetext').value = label;
    var preview = document.getElementById('previewimage');
    var file    = document.querySelector('input[type=file]').files[0];
    var reader  = new FileReader();
    reader.onloadend = function (e) {
    preview.src = e.target.result;
    };
    reader.readAsDataURL(file);
    });
    });
