%h1{style:"text-align:center"} Departments @ ASIET

%table.table.table-bordered{style:"text-align:center"}
  - cnt = 0
  - @departments.each do |department|
    %td
      %a{href:department_path(department)}
        = image_tag department.image.url, width:"100px" if department.image_file_name
        %br
        = department.name
        - cnt += 1
    - if cnt%3 == 0
      %tr
  - if isadmin
    %td
      %a{href:new_department_path}
        = image_tag "add.png", width:"100px"
        %br
        Add New Department
