%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3 Department Details
  .jumbotron{style:"margin-top:0;margin-bottom:0"}
    .row
      .col-md-8
        .h1{style:"margin-top:0;padding-top:0"}
          = @department.name
        - if @department.hod_id
          %h4
            Head Of the Department :
            - @hod = User.find(@department.hod_id)
            = link_to @hod.name, @hod
          %br
          %br
        - if isadmin
          = link_to "Edit Department", edit_department_path(@department), class:"btn btn-success"
          = link_to "Delete Department", @department, method: :delete, data: {confirm: "Are you sure? All items in this department will also be deleted."}, class:"btn btn-danger"
      .col-md-4{style:'text-align:center'}
        = image_tag @department.image.url, width:"50%" if @department.image_file_name
        %br
        - if isadmin
          = link_to "Change Image", changedepimage_path(@department), method:"get", class:"btn btn-success"
    %br
    .row
      %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
        %li.active
          %a{href:"#items", "data-toggle" => "tab"}
            Items
        %li
          %a{href:"#subjects", "data-toggle" => "tab"}
            Subjects
        %li
          %a{href:"#students", "data-toggle" => "tab"}
            Students
        %li
          %a{href:"#faculties", "data-toggle" => "tab"}
            Faculties

      #my-tab-content.tab-content
        .tab-pane.active{:id => "items"}
          = form_tag(department_path(@department), method:"post", class:"navbar-form") do |f|
            .row{style:"text-align:center"}
              .col-md-3
                = select_tag :type, options_from_collection_for_select(Type.all,'name','name',params[:type]), prompt:"Type", class:"selectpicker",style:"width:100%"
              .col-md-3
                = select_tag :course, options_from_collection_for_select(Course.all,'name','name',params[:course]), prompt:"Course", class:"selectpicker"
              .col-md-3
                = select_tag :semester, options_from_collection_for_select(Semester.all,'name','name',params[:semester]), prompt:"Semester", class:"selectpicker"
              .col-md-3
                = button_tag "Go", class:"btn btn-primary", style:"width:100%"
          %br
          %table.table.table-bordered{style:"text-align:center"}
            %tr
            - @cnt = 0
            - @items.each do |item|
              - if @cnt%3==0 then
                %tr
              %td
                %a.image{href:item_path(item)}
                  = image_tag item.type.image.url, width:"20%" if item.type
                %br
                = link_to item.title,item
                %br
                = item.course.name if item.course
                = item.department.name if item.department
                = " - Semester " + item.semester.name if item.semester
                - @cnt += 1
        .tab-pane{:id => "subjects"}
          - if @department.name != "MBA"
            - Semester.where("name != '1' and name != '2'").each do |semester|
              - if semester.name == '1' or semester.name == '2'
                - @coursename = "M.Tech" if not @department.name == 'MBA'
                - @coursename = "MBA" if @department.name == 'MBA'
              - else
                - @coursename = 'B.Tech'
              .panel.panel-default
                .panel-heading
                  = @coursename
                  Semester - 
                  = semester.name
                %table.table.table-bordered{style:"text-align:center"}
                  - @subjects = Subject.where("department_id = ? and semester_id = ?",@department.id,semester.id)
                  - cnt = 0
                  - @subjects.each do |subject|
                    - if cnt%3==0
                      %tr
                    %td{style:"width:33%"}
                      - @subjectname = subject.code + " " + subject.name
                      = link_to @subjectname, subject
                      - cnt += 1
            - Semester.where("name = '1' or name = '2'").each do |semester|
              - if semester.name == '1' or semester.name == '2'
                - @coursename = "M.Tech" if not @department.name == 'MBA'
                - @coursename = "MBA" if @department.name == 'MBA'
              - else
                - @coursename = 'B.Tech'
              .panel.panel-default
                .panel-heading
                  = @coursename
                  Semester - 
                  = semester.name
                %table.table.table-bordered{style:"text-align:center"}
                  - @subjects = Subject.where("department_id = ? and semester_id = ?",@department.id,semester.id)
                  - cnt = 0
                  - @subjects.each do |subject|
                    - if cnt%3==0
                      %tr
                    %td{style:"width:33%"}
                      - @subjectname = subject.code + " " + subject.name
                      = link_to @subjectname, subject
                      - cnt += 1
          - else
            - Semester.where("name = '1' and name = '2'").each do |semester|
              - if semester.name == '1' or semester.name == '2'
                - @coursename = "M.Tech" if not @department.name == 'MBA'
                - @coursename = "MBA" if @department.name == 'MBA'
              - else
                - @coursename = 'B.Tech'
              .panel.panel-default
                .panel-heading
                  = @coursename
                  Semester - 
                  = semester.name
                %table.table.table-bordered{style:"text-align:center"}
                  - @subjects = Subject.where("department_id = ? and semester_id = ?",@department.id,semester.id)
                  - cnt = 0
                  - @subjects.each do |subject|
                    - if cnt%3==0
                      %tr
                    %td{style:"width:33%"}
                      - @subjectname = subject.code + " " + subject.name
                      = link_to @subjectname, subject
                      - cnt += 1
            - Semester.where("name = '1' or name = '2'").each do |semester|
              - if semester.name == '1' or semester.name == '2'
                - @coursename = "M.Tech" if not @department.name == 'MBA'
                - @coursename = "MBA" if @department.name == 'MBA'
              - else
                - @coursename = 'B.Tech'
              .panel.panel-default
                .panel-heading
                  = @coursename
                  Semester - 
                  = semester.name
                %table.table.table-bordered{style:"text-align:center"}
                  - @subjects = Subject.where("department_id = ? and semester_id = ?",@department.id,semester.id)
                  - cnt = 0
                  - @subjects.each do |subject|
                    - if cnt%3==0
                      %tr
                    %td
                      - @subjectname = subject.code + " " + subject.name
                      = link_to @subjectname, subject
                      - cnt += 1
        .tab-pane{:id => "students"}
          %table.table.table-bordered{style:"text-align:center"}
            %tr
            - @cnt = 0
            - @users.each do |user|
              - if @cnt%3==0 then
                %tr
              %td
                %a{href:user_path(user)}
                  = image_tag user.image.url(:thumbnail) if user.image_file_name
                  = user.name
                - @cnt += 1        
        .tab-pane{:id => "faculties"}
          %table.table.table-bordered{style:"text-align:center"}
            %tr
            - @cnt = 0
            - @facultyusers.each do |user|
              - if @cnt%3==0 then
                %tr
              %td
                %a{href:user_path(user)}
                  = image_tag user.image.url(:thumbnail) if user.image_file_name
                  = user.name
                - @cnt += 1

%script
  $('.selectpicker').selectpicker({width:'auto'});
