.alert.alert-success
  %h1{style:"margin-top:0px"}About Vijñāna
  %p{style:"text-align:justify"} Vijñāna is a digital repository to store and share all the intelligent content produced at Adi Shankara Institute of Engineering and Technology. It has been developed so as to let the students access the Journal Papers, Project Theses, Question Banks, Model Question Papers and Subject notes, Presentations etc that are written by the staff and students of this college. Vijñāna is written in Ruby on Rails, uses SQLite as Database backend and HAML for the frontend HTML rendering. Styling of webpages is done using Bootstrap framework and jQuery.
.alert.alert-info
  %h1 Credits and Copyright
  %p{style:"text-align:justify"}
    Vijñāna was developed by the students of M.Tech CSE (2014-2016) batch of ASIET, Kalady. Released under GPLv3, Vijñāna is free to be copied or shared. The logos used for different types of content are from
    %a{href:"https://thenounproject.com"}The Noun Project
    and copyirght resides with their respective designers. The logo of ASIET is the sole property of 
    %a{href:"http://adishankara.ac.in"}Adi Shankara Institute of Engineering and Technology, Kalady. 
    Content shared in this website is released under CC-BY-SA except for the Journal Papers whose copyright resides with their authors and corresponding journals where they are published.

.alert.alert-warning
  %h1 Source Code
  %p
    The source code for Vijñāna is available at out 
    %a{href:"https://gitlab.com/balasankarc/vijñāna"}Gitlab repo
    and issues can be reported there. We welcome issue reports, patches and pull requests.

/
  .alert.alert-warning
    %h1 Team
    %p Vijñāna is developed by the students of M.Tech Computer Science and Engineering, 2014-2016 batch. It was done under the guideship of ___________________ . The team members of the development are
    %br
    .row{style:"text-align:center"}
      .col-md-4
        =image_tag "Balu.jpg", class: "img-circle" 
        %br
        %b Balasankar C
      .col-md-4
        =image_tag "anju.jpg", class:"img-circle"
        %br
        %b Anju P R
      .col-md-4
        =image_tag "aswathy.jpg", class:"img-circle"
        %br
        %b Aswathy Krishnan
    %br
    .row{style:"text-align:center"}
      .col-md-4
        =image_tag "hitha.jpg", class:"img-circle" 
        %br
        %b Hitha Rocky
      .col-md-4
        =image_tag "renu.jpg", class:"img-circle"
        %br
        %b Renu S
      .col-md-4
        =image_tag "silpa.jpg", class:"img-circle"
        %br
        %b Shilpa V
        
