- Course.all.each do |course|
  .panel.panel-default
    .panel-heading
      %h3 
        = course.name
    %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
      %li.active
        %a{href:"##{course.name.gsub(" ","_").gsub(".","")}type", "data-toggle" => "tab"}
          Types
      %li
        %a{href:"##{course.name.gsub(" ","_").gsub(".","")}department", "data-toggle" => "tab"}
          Department
    #my-tab-content.tab-content
      .tab-pane.active{:id => "#{course.name.gsub(" ","_").gsub(".","")}type"}
        %table.table
          - Type.all.each do |type|
            - @items = Item.where("type_id = ? AND course_id = ?",type.id,course.id)
            %tr
              %td
                = type.name
              %td
                = @items.count
          %tr
            %td{width:"50%"} 
              %strong
                Total Number of Books
            %td 
              %strong
                = course.items.count
 
      .tab-pane{:id => "#{course.name.gsub(" ","_").gsub(".","")}department"}
        %table.table
          - Department.all.each do |department|
            - @items = Item.where("course_id = ? AND department_id = ?",course.id,department.id)
            %tr
              %td
                - puts department.name
                = department.name
              %td
                = @items.count
          %tr
            %td{width:"50%"} 
              %strong
                Total Number of Books
            %td 
              %strong
                = course.items.count
 
