-# @sems = {"B.Tech" => ["1&2","3","4","5","6","7","8"], "M.Tech" => "1","2","3","4", "M.B.A" => "1","2","3","4"}
- Department.all.each do |department|
  .panel.panel-default
    .panel-heading
      %h3 
        = department.name
    %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
      %li.active
        %a{href:"##{department.name.gsub(" ","_")}type", "data-toggle" => "tab"}
          Types
      %li
        %a{href:"##{department.name.gsub(" ","_")}course", "data-toggle" => "tab"}
          Courses and Subjects
    #my-tab-content.tab-content
      .tab-pane.active{:id => "#{department.name.gsub(" ","_")}type"}
        %table.table
          - Type.all.each do |type|
            - @items = Item.where("type_id = ? AND department_id = ?",type.id,department.id)
            %tr
              %td
                = link_to type.name,type
              %td
                = @items.count
          %tr
            %td{width:"50%"} 
              %strong
                Total Number of Books
            %td 
              %strong
                = department.items.count
 
      .tab-pane{:id => "#{department.name.gsub(" ","_")}course"}
        - if department.name != "MBA"
          - Course.all.each do |course|
            - if not course.name == 'M.B.A'
              .panel.panel-default{style:"width:100%"}
                .panel-heading
                  = course.name
                - @item1 = Item.where("department_id = ? and course_id = ?",department.id, course.id)
                - @subjects1 = Subject.where("department_id = ? and course_id = ?",department.id,course.id).sort_by &:semester_id
                %table.table
                  - @subjects = @subjects1.sort_by &:code
                  - @subjects.each do |subject|
                    - @items = Item.where("subject_id = ?",subject.id)
                    %tr
                      %td{style:"width:90%"}
                        %a{href:subject_path(subject.id)}
                          = subject.code
                            
                          = subject.name
                      %td
                        = @items.count
                  %tr
                    %td
                      %strong
                        Total Books in 
                        = course.name
                    %td
                      %strong
                        = @item1.count

        - else
          - course = Course.where("name = 'M.B.A'").first
          %tr
            %td{style:"width:100%"}
              .panel.panel-default{style:"width:100%"}
                .panel-heading
                  = course.name
                - @subjects1 = Subject.where("department_id = ? and course_id = ?",department.id,course.id).sort_by &:semester_id
                - @subjects = @subjects1.sort_by &:code
                - @subjects.each do |subject|
                  %table.table
                    - @items = Item.where("subject_id = ?",subject.id)
                    %tr
                      %td{style:"width:90%"}
                        = subject.code
                          
                        = subject.name
                      %td
                        = @items.count
