.row
  .col-md-12
    .alert.alert-success
      %h1{style:"margin-top:0px"} Vijñāna
      %p{style:"text-align:justify"}Vijñāna is a digital repository to store and share all the intelligent content produced at Adi Shankara Institute of Engineering and Technology. It has been developed so as to let the students access the Journal Papers, Project Theses, Question Banks, Model Question Papers and Subject notes, Presentations etc that are written by the staff and students of this college. Vijñāna is written in Ruby on Rails and is developed by students of M.Tech CSE [2014-2016] batch. The details can be found from the link on the sidebar. Various sections of vijñāna are listed below.
.row
  .col-md-6
    .alert.alert-info
      %h2{style:"margin-top:0px"} 
        = link_to "Study Materials", items_path(type:"Subject Note")
        = image_tag "subjectnote.png", width:"5%"
        = image_tag "presentation.png", width:"5%"
      %p{style:"text-align:justify"}This section includes various subject notes and presentations of different departments.
  .col-md-6
    .alert.alert-warning
      %h2{style:"margin-top:0px"} 
        = link_to "Journal Papers",items_path(type:"Paper Publication")
        = image_tag "paper.png", width:"5%"
      %p{style:"text-align:justify"}This section includes the original versions of various journal papers published by staff and students.
.row
  .col-md-6
    .alert.alert-danger
      %h2{style:"margin-top:0px"} 
        = link_to "Previous Question Papers", items_path(type:"Previous Year Question Paper")
        = image_tag "question.png", width:"5%"
      %p{style:"text-align:justify"}This section has a collection of previous year question papers of various subjects in image format.
  .col-md-6
    .alert.alert-warning{style:"background-color:rgba(194,183,135,0.56)"}
      %h2{style:"margin-top:0px;color:#847849"} 
        Seminar and Project Reports
        = image_tag "project.png", width:"5%"
      %p{style:"text-align:justify"}This section handles the reports of various seminars and projects undertaken by students.
