.panel.panel-default
  .panel-heading
    %h3 Vijñāna Statistics
  %table.table.table-bordered
    %tr
      %td{style:"width:50%"} Total Number of Resources
      %td
        = Item.all.count
    %tr
      %td Total Number of Users
      %td
        = User.all.count
    %tr
      %td Total Number of Courses
      %td
        = Course.all.count
    %tr
      %td Total Number of Departments
      %td
        = Department.all.count
    %tr
      %td Total Number of Subjects
      %td
        = Subject.all.count
    %tr
      %td Total Number of Resource Types
      %td
        = Type.all.count
.panel.panel-default
  .panel-heading
    %h3 Detailed Statistics
  %table.table.table-bordered{style:"text-align:center"}
    %tr
      %td
        %a{href:department_statistics_path}
          = image_tag 'departments.png', width:"20%"
          %br
          Department based Statistics
          
      %td
        %a{href:course_statistics_path}
          = image_tag 'courses.png', width:"46%"
          %br
          Course based Statistics
      %td
        %a{href:type_statistics_path}
          = image_tag 'types.png', width:"20%"
          %br
          Resource Type based Statistics
