- Type.all.each do |type|
  .panel.panel-default
    .panel-heading
      %h3 
        = type.name
    %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
      %li.active
        %a{href:"##{type.name.gsub(" ","_")}department", "data-toggle" => "tab"}
          Departments
      %li
        %a{href:"##{type.name.gsub(" ","_")}course", "data-toggle" => "tab"}
          Courses
    #my-tab-content.tab-content
      .tab-pane.active{:id => "#{type.name.gsub(" ","_")}department"}
        %table.table
          - Department.all.each do |department|
            - @items = Item.where("type_id = ? AND department_id = ?",type.id,department.id)
            %tr
              %td
                = department.name
              %td
                = @items.count
          %tr
            %td{width:"50%"} 
              %strong
                Total Number of Books
            %td 
              %strong
                = type.items.count
 
      .tab-pane{:id => "#{type.name.gsub(" ","_")}course"}
        %table.table
          - Course.all.each do |course|
            - @items = Item.where("course_id = ? AND type_id = ?",course.id,type.id)
            %tr
              %td
                = course.name
              %td
                = @items.count
          %tr
            %td{width:"50%"} 
              %strong
                Total Number of Books
            %td 
              %strong
                = type.items.count
