= form_for @subject do |f|
  - if @subject.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :code, class:"form-control", placeholder:"Subject Code"
  .field
    = f.text_field :name, class:"form-control", placeholder:"Subject Name"
  .field
    = f.text_field :credit, class:"form-control", placeholder:"Credits"
  .field
    = f.text_area :description, class:"form-control redactor", placeholder:"Description"
  .field
    - if @subject.course
      - @cou = @subject.course.name
    - else
      - @cou = ""
    = f.fields_for :course do |course_form|
      = course_form.select :name, options_from_collection_for_select(Course.all,'name','name',@cou), {include_blank:"Course"}, {class:"selectpicker"}
  .field
    - if @subject.department
      - @dep = @subject.department.name
    - else
      - @dep = ""    
    = f.fields_for :department do |department_form|
      = department_form.select :name, options_from_collection_for_select(Department.all,'name','name',@dep), {include_blank:"Department"}, {class:"selectpicker"}
  .field
    - if @subject.semester
      - @sem = @subject.semester.name
    - else
      - @sem = ""    
    = f.fields_for :semester do |semester_form|
      = semester_form.select :name, options_from_collection_for_select(Semester.all,'name','name',@sem), {include_blank:"Semester"}, {class:"selectpicker"}
  .actions
    = f.submit 'Save', class:'btn btn-primary'
