%h1{style:"text-align:center"}
  Add Students to 
  = @subject.name
#centerform{style:"margin:0 auto;width:50%;text-align:center"}
  = form_for @subject, url:addstudenttosubject_path(@subject) do |f|
    - if @subject.errors.any?
      #error_explanation
        %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
        %ul
          - @subject.errors.full_messages.each do |msg|
            %li= msg

    .field
      = select_tag 'studentlist[]', options_from_collection_for_select(@students,'id','name'), class:"multipleselect", multiple:"multiple"
    .actions
      = f.submit 'Save', class:"btn btn-success form-control", style:"width:50%"
%script
  $(document).ready(function() {
  $('.multipleselect').multiselect({includeSelectAllOption: true,enableFiltering: true, buttonText: function(options, select)
  {
  if (options.length === 0) {
  return 'Select Students to Add'+ '&nbsp;&nbsp;<span class="caret"></span>';
  }
  else if (options.length > 3) {
  return options.length+' options selected!';
  }
  else {
  var labels = [];
  options.each(function() {
  if ($(this).attr('label') !== undefined) {
  labels.push($(this).attr('label'));
  }
  else {
  labels.push($(this).html());
  }
  });
  return labels.join(', ') + ''+ '&nbsp;&nbsp;<span class="caret"></span>';
  }
  }});
  });
