%h1{style:"text-align:center"}Choose Faculty
#editform{style:"width:50%;text-align:center;margin:0 auto"}
  = form_for @subject, class:"form-signin" do |f|
    - if @subject.errors.any?
      #error_explanation
        %h2= "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
        %ul
          - @subject.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.select :faculty_id, option_groups_from_collection_for_select(Department.all,:isafaculty,'name','id','name'), {include_blank:"Staff"}, {class:"selectpicker",style:"width:50%"}
    .actions
      = f.submit 'Save', class:"btn btn-primary", style:"width:100%"
