:css
  .jumbotron p{
  font-size:initial;
  }
%p#notice= notice

.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h4{style:"margin-bottom:0"}
          = @subject.code
        %h2{style:"margin-bottom:0"}
          = @subject.name
      .col-md-4{style:"text-align:center"}
        - @currentuser = User.where("username = ?",session[:user]).first
        - @id = @subject.id.to_i
        - if  isfacultyofsubject(@id) or ishodofdepartment(@id) or isadmin
          %h3
            = button_to "Add Students to Subject", addstudenttosubject_path(@subject), method:"get", class:"btn btn-primary"

  .jumbotron{style:"padding-top:0;margin:0;padding-bottom:0px"}
    .row
      .col-md-9{style:"text-align:justify;margin-top:1%"}
        = @subject.description.html_safe
      .col-md-3
        %h4{style:"margin-top:0px;"} 
          Credits : 
          = @subject.credit if @subject.credit
        %h4{style:"margin-top:0px;"} 
          Faculty : 
          - @faculty = User.find(@subject.faculty_id) if @subject.faculty_id and @subject.faculty_id > 0
          = link_to @faculty.name, @faculty if not @faculty.nil?
        %h4{style:"margin:0px"}
          Department : 
          = link_to @subject.department.name,@subject.department if @subject.department
        %h4{style:"margin:0px"}
          = @subject.course.name if @subject.course
          Semester - 
          = @subject.semester.name if @subject.semester
    .row
      %ul#tabs.nav.nav-tabs{"data-tabs"=>"tabs"}
        %li.active
          %a{href:"#items", "data-toggle" => "tab"}
            Items
        %li
          %a{href:"#users", "data-toggle" => "tab"}
            Users
      #my-tab-content.tab-content
        .tab-pane.active{:id => "items"}
          %table.table.table-bordered
            - cnt = 0  
            - @subject.items.each do |item|
              - if cnt%3 == 0
                %tr
              %td
                = image_tag item.type.image.url, width:"100px" if item.type.image_file_name
                = link_to item.title, item
                - cnt += 1
        .tab-pane{:id => "users"}
          %table.table.table-bordered{style:"margin:0"}
            - cnt = 0  
            - @subject.users.each do |user|
              - if cnt%3 == 0
                %tr
              %td
                %a{href:user_path(user)}
                  = image_tag user.image.url(:thumbnail) if user.image_file_name
                  = user.name
                &nbsp;&nbsp;&nbsp;&nbsp;
                %a{href:removeuser_path(@subject,userid:user.id),data: {confirm: "Are you sure to remove this student?", toggle:"tooltip", placement:"top"}, title:"Remove user from subject"}
                  %span.glyphicon.glyphicon-remove-sign
                    - cnt += 1

%script
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
