= form_for @item,:html=>{class:"form-signin", multipart:"true"} do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, placeholder:"Title", class:"form-control", required:"true"
  .field
    = f.text_field :year, placeholder: "Year", class:"form-control", required:"true"
  .field
    - @authors=[]
    - @item.authors.each do |author|
      - @authors<<author.name
    - @authorstring = @authors.join(",")
    = f.fields_for :author do |author_form|
      = author_form.text_field :name, value: @authorstring, class:"form-control", placeholder:"Authors (Split using a comma)", required:"true"
  .field
    - if @item.type
      - @typ = @item.type.name
    - else
      - @typ = ""
    = f.fields_for :type do |type_form|
      = type_form.select :name, options_from_collection_for_select(Type.all,'name','name',@typ), {include_blank:"Type"}, {class:"selectpicker"}

  .field
    - if @item.department
      - @dep = @item.department.name
    - else
      - @dep = ""
    = f.fields_for :department do |department_form|
      = department_form.select :name, options_from_collection_for_select(Department.all,'name','name',@dep), {include_blank:"Department"}, {class:"selectpicker",onchange:"department()"}
  .field
    - if @item.course
      - @cou = @item.course.name
    - else
      - @cou = ""
    = f.fields_for :course do |course_form|
      = course_form.select :name, options_from_collection_for_select(Course.all,'name','name',@cou), {include_blank:"Course"}, {class:"selectpicker"}
  .field
    - if @item.semester
      - @sem = @item.semester.name
    - else
      - @sem = ""
    = f.fields_for :semester do |semester_form|
      = semester_form.select :name, options_from_collection_for_select(Semester.all,'name','name',@sem), {include_blank:"Semester"}, {class:"selectpicker"}
  .field
    .input-group
      %span.input-group-btn
        %span.btn.btn-success.btn-file
          = f.file_field :file
          Browse File
      %input.form-control#filetext{type:"text"}
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"
:javascript
    $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
    console.log(numFiles);
    console.log(label);
    document.getElementById('filetext').value = label;
    reader.readAsDataURL(file);
    });
    });

-#%script
  -#function department(){
  -#alert(document.getElementById('item_subject_name').innerHTML);
  -#document.getElementById('item_subject_name').innerHTML = "";
  -#alert(document.getElementById('item_subject_name').innerHTML);
  -#- @dep = Department.where("name = ?",document.getElementById('item_department_name').val())
  -#alert('%{@dep}');
  -#}
  -#$(document).ready(function(){
  -#var a = ""
  -#- cnt = 0;
  -#- Department.all.each do |user|
    -#var opt#{cnt} = document.createElement("option")
    -#opt#{cnt}.value = '#{user.username}'
    -#opt#{cnt}.innerHTML = '#{user.username}'
    -#document.getElementById('item_subject_name').appendChild(opt#{cnt});
    -#- cnt += 1
  -#});
