= form_for @item,:html=>{class:"form-signin", multipart:"true"} do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :description, placeholder:"Item Description", class:"form-control", required:"true"
  .field
    - if @item.subject
      - @sub = @item.subject.id
      - puts @sub
    - else
      - @sub = ""
    = f.fields_for :subject do |subject_form|
      = subject_form.select :id, options_from_collection_for_select(@subjects,'id','name',@sub), {include_blank:"Subject"}, {class:"selectpicker"}
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"

-#%script
  -#function department(){
  -#alert(document.getElementById('item_subject_name').innerHTML);
  -#document.getElementById('item_subject_name').innerHTML = "";
  -#alert(document.getElementById('item_subject_name').innerHTML);
  -#- @dep = Department.where("name = ?",document.getElementById('item_department_name').val())
  -#alert('%{@dep}');
  -#}
  -#$(document).ready(function(){
  -#var a = ""
  -#- cnt = 0;
  -#- Department.all.each do |user|
    -#var opt#{cnt} = document.createElement("option")
    -#opt#{cnt}.value = '#{user.username}'
    -#opt#{cnt}.innerHTML = '#{user.username}'
    -#document.getElementById('item_subject_name').appendChild(opt#{cnt});
    -#- cnt += 1
  -#});
