%h1{style:"text-align:center"}
= form_tag(items_index_path, method:"post", class:"navbar-form") do |f|
  .row{style:"text-align:center"}
    .col-md-3
      = select_tag :course, options_from_collection_for_select(Course.all,'name','name',params[:course]), prompt:"Course", class:"selectpicker form-control"
    .col-md-3
      = select_tag :department, options_from_collection_for_select(Department.all,'name','name',params[:department]), prompt:"Department", class:"selectpicker form-control"
    .col-md-3
      = select_tag :semester, options_from_collection_for_select(Semester.all,'name','name',params[:semester]), prompt:"Semester", class:"selectpicker form-control"
    .col-md-3
      = button_tag "Go", class:"btn btn-primary", style:"width:100%"
      = hidden_field_tag :type, @type
%br
%table.table.table-bordered{style:"text-align:center"}
  %tr
  - @cnt = 0
  - @items.each do |item|
    - if @cnt%3==0 then
      %tr
    %td
      %a.image{href:item_path(item)}
        - if item.type
          = image_tag item.type.image.url, width:"20%" if item.type.image_file_name
      %br
      = link_to item.title,item
      %br
      = item.course.name if item.course
      = item.department.name if item.department
      = " - Semester " + item.semester.name if item.semester
      - @cnt += 1
