- if isuploader
  %h1 New item

  = render 'form'

  = link_to 'Back', root_path
- else
  .alert.alert-danger
    You don't have permission to access this page
:javascript
  $('.selectpicker').selectpicker();
