%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3 Item Details
  .jumbotron
    .h1{style:"margin-top:0;padding-top:0"}
      = @item.title
    %b Author(s):
    - @item.authors.each do |author|
      = link_to author.name,author
      - if not author.equal? @item.authors.last
        , 

    %br
    %b Year:
    = @item.year
    %br
    %b Course:
    - if @item.course then
      = link_to @item.course.name.sub("_"," "), Course.where("name = ?",@item.course.name).first
    %br
    %b Department:
    - if @item.department then
      = link_to @item.department.name.gsub("_"," "), Department.where("name = ?",@item.department.name).first
    %br
    %b Semester:
    - if @item.semester then
      = link_to @item.semester.name.gsub("_"," "), Semester.where("name = ?",@item.semester.name).first
    %br
    %b Subject:
    - if @item.subject then
      = link_to @item.subject.name.sub("_"," "), @item.subject
    %br
    %b Type:
    - if @item.type then
      = link_to @item.type.name.sub("_"," "), Type.where("name = ?",@item.type.name).first
    %br
    %b Uploader:
    - @username = User.find(@item.user_id).username 
    = link_to @username, User.find(@item.user_id) 
    %br
    %br
    = link_to "Download File", @item.file.url, class:"btn btn-primary"
    - if isadmin or User.where("name = ?",session[:user]).first == @item.user
      = link_to "Edit File", edit_item_path(@item),class:"btn btn-success"
      = link_to "Delete Item", @item, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger"
