= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, class:"form-control", placeholder: "Name"
  .field
    .input-group
      %span.input-group-btn
        %span.btn.btn-success.btn-file
          = f.file_field :image
          Browse Course Image
      %input.form-control#filetext{type:"text"}
  .actions
    = f.submit 'Save', class:"btn btn-primary", style:"width:100%"
:javascript
    $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
    console.log(numFiles);
    console.log(label);
    document.getElementById('filetext').value = label;
    reader.readAsDataURL(file);
    });
    });
