%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3 Course Details
  .jumbotron
    .row
      .col-md-8
        .h1{style:"margin-top:0;padding-top:0"}
          = @course.name
      .col-md-4{style:"text-align:right"}
        = image_tag @course.image.url, width:"100px" if @course.image
= form_tag(course_path(@course), method:"post", class:"navbar-form") do |f|
  .row{style:"text-align:center"}
    .col-md-3
      = select_tag :type, options_from_collection_for_select(Type.all,'name','name',params[:type]), prompt:"Type", class:"selectpicker form-control"
    .col-md-3
      = select_tag :department, options_from_collection_for_select(Department.all,'name','name',params[:department]), prompt:"Department", class:"selectpicker form-control"
    .col-md-3
      = select_tag :semester, options_from_collection_for_select(Semester.all,'name','name',params[:semester]), prompt:"Semester", class:"selectpicker form-control"
    .col-md-3
      = button_tag "Go", class:"btn btn-primary", style:"width:100%"
%br
%table.table.table-bordered{style:"text-align:center"}
  %tr
  - @cnt = 0
  - @items.each do |item|
    - if @cnt%3==0 then
      %tr
    %td
      %a.image{href:item_path(item)}
        = image_tag item.type.image.url, width:"20%" if item.type
      %br
      = link_to item.title,item
      %br
      = item.course.name if item.course
      = item.department.name if item.department
      = " - Semester " + item.semester.name if item.semester
      - @cnt += 1
