<!DOCTYPE html>
%html
  %head
    %title Vijñāna
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name:"viewport",content:"width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li
            %a{href:root_path}
              = image_tag "asiet_logo_transparent.png", width:"80%"
          %li.sidebar-brand
            %a{href:root_path,style:"color:black"}Vijñāna
          %li
            %a{href:root_path}Home
          - Type.all.each do |type|
            - @typename = type.name.gsub(" ","_")
            %li
              = link_to type.name,type_path(@typename)
          %li
            %a{href:about_path}About
      #page-content-wrapper
        %nav.navbar.navbar-default{:role => "navigation"}
          .container-fluid
            .navbar-header
              %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                  %span.icon-bar
                    %span.icon-bar
              %a.navbar-brand{href:root_path}
                = image_tag "asiet_logo_transparent.png", width:"25px"
                Vijñāna
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-form
                %li{style:"margin-right:30px"}
                  - if request.env['PATH_INFO'] == '/departments'
                    = button_to "Departments", root_path, method:"get", class:"btn btn-default active"
                  - else
                    = button_to "Departments", departments_path, method:"get", class:"btn btn-default"
                - if isadmin
                  %li
                    - if request.env['PATH_INFO'] == '/admin'
                      = button_to "Admin Panel", root_path, method:"get", class:"btn btn-danger active"
                    - else
                      = button_to "Admin Panel", admin_path, method:"get", class:"btn btn-danger"
              %ul.nav.navbar-nav.navbar-right
                - if isuploader
                  %li
                    %a{href:new_item_path}
                      %span.glyphicon.glyphicon-plus
                      Add item
                %li
                  %a{href:search_index_path}
                    %span.glyphicon.glyphicon-search
                    Search                
                - if session[:user]
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      - @currentuser = User.where("username = ?",session[:user]).first
                      - if @currentuser.image_file_name
                        = image_tag @currentuser.image.url(:thumbnail)
                      = User.where("username = ?",session[:user]).first.name
                      %span.caret
                        %ul.dropdown-menu{:role => "menu"}
                          %li
                            - @userid = User.where("username = ?",session[:user].to_s).first.id
                            = link_to "Profile",user_path(@userid)
                          %li
                            = link_to "My Subjects", mysubjects_path(@userid)
                          %li
                            = link_to "Edit Profile", edit_user_path(@userid)
                          %li.divider
                            %li
                              %a{:href => logout_path} Logout
                - else
                  %li
                    %a{href:sign_in_path}Login

        .container-fluid
          .row
            .col-lg-12
              %p{style:"font-size:20px"}
                %br
              =yield
:javascript
  $("#menu-toggle").click(function(e)
  {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
